<form action="/add" method="post" class="formular">
    New student<br /><br />
    <input type="text" name="name" value="enter name here" required><br><br>
    <input type="submit" value="Add Student" action="/list"><br /><br />
</form>
