@model GFA.Models.StudentViewModel;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello</title>
</head>
<body>
    <header></header>
    <a href="/gfa/list">List</a><br>
    <a href="/gfa/add">Add Student</a><br>
</body>
</html>