body {
    margin: 0;
    padding: 0;
    background-color: darkviolet;
    font-size: 30px;
    color: darkblue;
    font-family: sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    height: 500px;
    width: 800px;
    background-color: white;
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 70px;
    width: 300px;
    height: 400px;
}

input[type=text], 
input[type="password"]:focus {
    border-bottom: 3px solid violet;
}
h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"] {
    width: 120px;
    height: 32px;
    background-color: blueviolet;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 40px;
}
input[type="submit"]:hover,
input[type="submit"]::after {
    background-color: darkslateblue;
    transition: 0.8s ease;
    transform: scale(1.5);
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 150px 20px;
    width: 300px;
    height: 400px;
    background-image: url(image1.jpg);
    background-size: cover;
    background-position: center;
}

.or {
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 360px;
    width: 50px;
    height: 50px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 50px;
    text-align: center;
}

button.social {
    margin-bottom: 20px;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

.facebook {
    background: #32508e;
}
.facebook:hover {
    transform: scale(1.2);
    transition: 0.8s ease;
} 

.twitter {
    background: #55acee;
}
.twitter:hover {
    transform: scale(1.2);
    transition: 0.8s ease;

}

.google {
    background: #dd4b39;
}
.google:hover {
    transform: scale(1.2);
    transition: 0.8s ease;

}
