body {
    background-image: url("fire.gif");
    background-size: 1200px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

#login-box {   
    position: relative;
    margin: 10% 55%;
    height: 350px;
    width: 600px;
    background-color: rgb(255,140,0,0.5);
    border-radius: 15px;
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 200px;
    height: 200px;
}

input[type=text],
input[type="password"]:focus {
    background-color: rgb(255,140,0,0.5);
    ;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 22px;
}
input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 200px;
    height: 35px;
    border: ridge;
    border-color: darkred;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgb(255,140,0,0.5);
}
::placeholder {
    color: rgb(139,69,19,0.9);
    font-size: 12px;
    padding: 10px;
}
input[type="submit"] {
    width: 125px;
    height: 35px;
    background-color: saddlebrown;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Javanese Text';
    font-weight: 400;
    margin-top: 0;
    font-size: 16px;
}
input[type="submit"]:hover,
input[type="submit"]::after {
     background-color: rgb(255,140,0,0.3);
     transition: 0.5s ease;
     transform: scale(1.1);
}
.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 90px 5px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.or {
    font-size: 12px;
    position: absolute;
    top: 150px;
    left: 290px;
    width: 50px;
    height: 50px;
    background-color: saddlebrown;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    line-height: 50px;
    text-align: center;
}
button.social {
    margin-bottom: 25px;
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.facebook {
    background: #32508e;
}

    .facebook:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
    }

.twitter {
    background: #55acee;
}
    .twitter:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
    }

.google {
    background: #dd4b39;
}

    .google:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
    }
