<html>
<head>
    <title>New Generation of WebChat</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
</head>
<body>
    <header class="main-header">
        <div class="main-header__logo">
            <h1>FoxChat</h1>
        </div>
    </header>
    <section class="data-view">
        <table class="table">
            <tr>
                <td>
                    <h1>Welcome to FoxChat</h1>
                </td>
            </tr>
            <tr>
                <td>
                    Login please :
                    @using (Html.BeginForm("login", "chat", FormMethod.Post))
                    {
                        <input type="text" name="login" required>
                        <input type="password" name="password" required> <br /><br />
                        <input type="submit" value="Log-in" action="/login"><br /><br />

                    }
                </td>
            </tr>
            <tr>
                <td>
                    Or Register  :
                    @using (Html.BeginForm("register", "chat", FormMethod.Post))
                    {
                        <input type="text" name="login" required>
                        <input type="password" name="password" required><br /><br />
                        <input type="submit" value="Create new account" action="/register"><br /><br />

                    }
                </td>
            </tr>
        </table>
    </section>
</body>
</html>
