<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/login" method="post">
            Username:<br>
            <input type="text" name="Username" value="" required>
            <br>
            Password<br>
            <input type="text" name="Password" value="" required>
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
