<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
</head>
<body>
    <h1>Registration</h1>
    <div class="addUser">
        <form action="/login" method="post">
            Username:<br>
            <input type="text" name="Username" required>
            <br>
            Password<br>
            <input type="text" name="Password" required>
            <br>
            Confirm Password<br>
            <input type="text" name="Password" required>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
