<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
</head>
<body>
    <h1>Registration</h1>
    <div class="addUser">
        <form action="/register" method="post">
            <label for="name">Username:</label><br>
            <input type="text" name="name" value="" required /><br />
            <label for="email">E-mail:</label><br>
            <input type="email" name="email" value="" required /><br />
            <label for="password">Password:</label><br>
            <input type="password" name="password" value="" required /><br />
            <label for="password">Confirm Password:</label><br>
            <input type="password" name="password" value="" required /><br />
            <button asp-controller="Reddit" asp-action="Register">Register</button>
        </form><br />
    </div>
    <br>
    <a href="/">Back</a>
</body>
</html>