@model DI.Services.UtilityService

<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
</head>
<body style="background-color: @Model.RandomColor()">
    <a href="/useful/email?email=is@this.valid">Email Validator</a>
    <a href="/useful/encode">Caesar encoder</a>
</body>
</html>