@using RedditApp.Models.ViewModels;
@model RedditViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HomePage</title>
</head>
<body>
    <a href="/submit">Submit new post</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

    <h1>Trending posts</h1>
    @foreach (var post in Model.Posts)
    {
        <table>
            <tr>
                <td style="font-size:25px; width:70px; text-align:center">@post.Votes</td>
                <td style="font-size:25px; width:50px"><a href="Up/@post.Id">+</a></td>
                <td style="font-size:25px; width:50px"><a href="Down/@post.Id">-</a></td>
                <td style="font-size:25px; width:500px"><a href="@post.Url">@post.Title</a></td>
                <td style="font-size:25px; width:70px;"><a href="Delete/@post.Id">Delete</a></td>
            </tr>
        </table>
    }
</body>
</html>