@model double

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebShop</title>
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css">
</head>
<body>
    @Html.Partial("Shared")
    <p>
        Average Stock: @Model
    </p>

</body>
</html>