<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GreenFox Chat App</title>
</head>
<body>
    <header>Chat App</header>
    <a href="~/login">Login</a>
    <a href="~/register">Register</a>
</body>
</html>