body {
}
header, h1{
    background-color: black;
    font-size: 50px;
    padding: 10px;
    text-align:center;
    color: white;
}
.table 
{
    margin-top: 40px;
}
.thead{
    background-color: black;
}
.search{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
.button {
    margin-left: 420px;
    margin-top: 30px;
}
.addTask{
    margin-left: 40%;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: NSimSun;
}
.submit{
    text-align: center;
}



