@using ListingToDoDb.Models.ViewModels;

@model List<ToDo>

<html>
<head>
    <title>Todos for today</title>
</head>
<body>
    <h1>Todos for today</h1>
    <a href="addTask">Add new Todo</a> <br />
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>IS URGENT</th>
                <th>IS DONE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Title</td>
                    <td>@task.IsUrgent</td>
                    <td>@task.IsDone</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>